.vitals-icon { icon-size: 16px; }
.vitals-menu-button-container {}

.vitals-panel-icon-temperature { 
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 5px;
    color: #1E1F29;
    background-color:  #bf616a;
/*    
    border-top: 2px solid #2A2C39;
    border-left: 2px solid #2A2C39;
    border-bottom: 2px solid #2A2C39;
*/
}
.vitals-panel-label-temperature { 
    margin: 0px 0px 0px 0px; 
    padding: 5px 7px 5px 3px;
    background-color: #bf616a;
    color: #1E1F29;
}
.vitals-panel-icon-processor { 
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 5px; 
    color: #1E1F29;
    background-color: #8fbcbb;
}
.vitals-panel-label-processor {
    margin: 0px 0px 0px 0px; 
    padding: 5px 7px 5px 3px;
    background-color: #8fbcbb;
    color: #1E1F29
}
.vitals-panel-icon-memory { 
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 5px;
    color: #1E1F29;
    background-color: #d08770;
}
.vitals-panel-label-memory { 
    margin: 0px 0px 0px 0px; 
    padding: 5px 7px 5px 3px;
    background-color: #d08770;
    color: #1E1F29
}
.vitals-panel-icon-network { 
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 5px; 
    color: #1E1F29;
    background-color: #b48ead;
}
.vitals-panel-label-network {
    margin: 0px 0px 0px 0px; 
    padding: 5px 7px 5px 3px;
    background-color: #b48ead;
    color: #1E1F29
}

.vitals-panel-icon-voltage { margin: 0 0 0 8px; padding: 2px; }
.vitals-panel-icon-fan { margin: 0 4px 0 8px; padding: 2px; }
.vitals-panel-icon-system { margin: 0 3px 0 8px; padding: 2px; }
.vitals-panel-icon-storage { margin: 0 2px 0 8px; padding: 2px; }
.vitals-panel-icon-battery { margin: 0 4px 0 8px; padding: 2px; }
.vitals-panel-label { margin: 0 3px 0 0; padding: 2px; }
.vitals-button-action { -st-icon-style: symbolic; border-radius: 32px; margin: 0px; min-height: 22px; min-width: 22px; padding: 10px; font-size: 100%; border: 1px solid transparent; }
.vitals-button-action:hover, .vitals-button-action:focus { border-color: #777; }
.vitals-button-action > StIcon { icon-size: 16px; }
.vitals-button-box { padding: 2px; spacing: 22px; }

/* Borders around label, solid icon
      .vitals-panel-icon-temperature { 
        margin: 0px 0px 0px 0px; 
        padding: 0px 5px 0px 5px;
        color: #1E1F29;
        background-color: #E06C75;   
    }
    .vitals-panel-label-temperature { 
        margin: 0px 0px 0px 0px; 
        padding: 3px 5px 5px 5px;
        background-color: #1E1F29;
        color: #E06C75;
        border-top: 2px solid #E06C75;
        border-right: 2px solid #E06C75;
        border-bottom: 2px solid #E06C75;
    }
    .vitals-panel-icon-processor { 
        margin: 0px 0px 0px 0px; 
        padding: 0px 5px 0px 5px; 
        color: #1E1F29;
        background-color: rgba(139, 233, 253, 0.85)
    }
    .vitals-panel-label-processor {
        margin: 0px 0px 0px 0px; 
        padding: 3px 5px 5px 5px;
        background-color: #1E1F29;
        color: rgba(139, 233, 253, 0.85);
        border-top: 2px solid rgba(139, 233, 253, 0.85);
        border-right: 2px solid rgba(139, 233, 253, 0.85);
        border-bottom: 2px solid rgba(139, 233, 253, 0.85);
    }
*/